<form action="/bookmarks" method='post'>
  <label for="url"></label><br>
  <input type="text" name="url" placeholder="URL"><br>
  <label for="title"></label><br>
  <input type="text" name="title" placeholder="TITLE"><br>
  <input type="submit" value="Submit">
</form> 